*{box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
}

.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.form-container{
    width: 100%;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-container .logo{
    width: 13rem;
    height: auto;
}

.form-container h1{
    font-size: 1.6rem;
    margin-top: 6rem;
}

.form-container p{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--black);
}

.form-cont-form{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-cont-form .form{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.form .label{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: .8rem;
}

.form input{
    border: none;
    width: auto;
    height: 4rem;
    margin-bottom: 1rem;
}

.form .inp{
    margin-bottom: 4rem;
}

.form .primary-button{
    align-self: center;
    background-color: var(--hospital-green);
    color: var(--white);
    border-radius: 8px;
    width: 100%;
    height: 5rem;
    font-size: 1.8rem;
    cursor: pointer;
}
